.Layout__container {
  background-color: $base-color;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 0.2rem;
  padding: 0.5rem;
}

.Layout__container .Logo__container {
  grid-column: 2 / 3;
  grid-row: 1;
}

.Layout__container .Searcher__container {
  grid-column: 3 / 12;
  grid-row: 1;
}

// .Layout__container-height {
//   height: 2rem;
// }
