// Colors of application
$base-color: #ffe600;
$black: #333333;
$dark-gray: #666666;
$light-gray: #999999;
$gray: #eeeeee;
$white: #ffffff;
$blue: #3483fa;

// Font size
$price-font-size: 24px;
$description-font-size: 18px;
$notes-font-size: 12px;
$breadcrumb-font-size: 14px;
